body{
    margin: 0;
    background-color: chocolate
    font-family: "montserrat", "san-serif";
}

h1,h2{
    color: fuchsia;
    text-align: center;
    font-weight:800;
 font-size: 30px;   
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100xp;
    margin-left: 10xp; 
    justify-content: center; 
    background-color: aliceblue;
}
.menu{
    text-align: center;
    background-color: rgb(222, 211, 231);
    height: 30px;
}
.menu a{ 
    font-size: 20pt;
    text-decoration:none;
    font-weight:800;
    margin-left: 110px;
}
menu img{
    height: 100%;
    width: 60px;
    float:right;
    padding-right: 15px;
}

p{
    color: red;
    margin-left: 10px;
}

#fotinha img{
    display: flex;
    margin: 0 auto;
    width: 180px;

}
#trump2{
    width: 400px;
}

#fotinha2{
    margin: 0 auto;
}

button {
    border: solid blue;
    background-color: rgb(97, 142, 240);
    padding: 20px;
    
}

#especial{
    border: solid red 3px;
    background-color: aqua;
    margin-left: 10px;
}

footer{
    display: flex;
    flex-direction: column;
}

iframe {
    margin: 0 auto;
    display: flex;
}
h1{
    color: black;

}
h2{
    color: darkred
}